<div class="container">
  <h1><%= @user.name.titleize %>'s profile</h1>
  <%= link_to "Edit your profile", "/users/#{@user.id}/edit" %>
  <h2>Total treks: <%= @user.treks.count %></h2>
    <div class="row">
    <% @user.treks.each do |trek| %>
      <div class="col-md-4">
        <h3><%= link_to trek.title, "/treks/#{trek.id}" %></h3>
        <%= image_tag trek.image.url, class: "index-item" %>
        <br>
      </div>
    <% end %>
  </div>
</div>