  <section class="padding-60">
  <div class="divied-60"></div>
        <div class="container">
     <div class="divied-40"></div>
                    <div class="row">
                        <div class="col-md-12 margin-btm20">
                            <h3>Add a Trek</h3>
                        </div>
                        <div class="col-md-12 margin-btm20">
                            <div class="form-box">
                                <%= form_tag '/treks', method: :post do %>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                               <%= label_tag :title %>
                                               <%= text_field_tag :title, nil, class:"form-control" %>
                                            </div>
                                        </div>
                                         <div class="col-sm-6">
                                            <div class="form-group">
                                                <%= label_tag :length %>
                                                <%= text_field_tag :length, nil, class:"form-control" %>
                                            </div>
                                        </div>
                                         <div class="col-sm-6">
                                            <div class="form-group">
                                                <%= label_tag(:true, "Make this trek public") %>
                                                <%= radio_button_tag(:public, "true") %>
                                                <%= label_tag(:false, "Make this trek private") %>
                                                <%= radio_button_tag(:public, "false") %>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 text-right">
                                            <%= submit_tag 'Add Trek', class:"btn btn-dark btn-lg" %>
                                        </div>
                                    </div>
                                <% end %><!--leave comment form-->
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>


</section>