<h1><%= @trek.title %></h1>
<h3>Length: <%= @trek.length %></h3>
<%= image_tag @trek.image.url %>


<br>
<%= link_to "Generate image", "/treks/#{@trek.id}/image", method: :patch %>
<br>
<%= link_to "Edit this trek", "/treks/#{@trek.id}/edit" %>
<br>
<%= link_to "Remove this trek", "/treks/#{@trek.id}", method: :delete %>

